<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= name%></title>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/images/nuron-fevicon.png" />
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- css -->
    <link rel="stylesheet" href="/css/test.css" />
    <!-- intro js -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/intro.js@4.2.2/minified/introjs.min.css"
    />
    <style>
        iframe {
            min-height: 100vh;
            height: 100%;
            width: 100%;
            border: none;
        }
        
    </style>
    <script src="https://unpkg.com/intro.js@4.2.2/minified/intro.min.js"></script>
    <script src="https://unpkg.com/@superset-ui/embedded-sdk"></script>
  </head>

  <body>
    <!-- <nav class="top-navbar">
      <img
        src="/images/nuron white logo.png"
        alt="nuron-logo"
        class="nuron-logo2"
      />
      <div class="links-div">
        <a class="side-nav-linkk" onClick="window.location.reload()">
          Introduction</a
        >
        <a href="#" class="side-nav-linkk"> Nuron</a>
        <a href="#" class="side-nav-linkk"> Others</a>
        <a href="#" class="side-nav-linkk"> Nuron vs Others</a>
        <a href="#" class="side-nav-linkk"> Link 1</a>
        <a href="#" class="side-nav-linkk"> Link 2</a>
        <div class="dropdown1">
          <button class="dropbtnn">
            Nuron_Guest
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </button>
          <div class="dropdown-content1">
            <a href="/logout"
              >Logout <i class="fa fa-sign-out ml-1" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
    </nav> -->
    <div class="info-main-container">
      <div class="left-container">
        <div class="side-nav-links-div">
          <div class="blob1"></div>
          <div class="blob2"></div>
          <div class="blob3"></div>
          <!-- <div class="blob4"></div>
          <div class="blob5"></div> -->

          <img
            src="/images/Nuron white logo.png"
            alt="nuron-logo"
            class="nuron-logo"
          />
          <div class="links-container">
            <a class="side-nav-link" href="/dashboard">
              Introduction</a
            >
            <hr />
            <a href="/dashboard/nuron" class="side-nav-link"> Nuron</a>
            <hr />
            <a href="/dashboard/others" class="side-nav-link"> Others</a>
            <hr />
            <a href="/dashboard/nuron-other" class="side-nav-link"> Nuron vs Others</a>
            <hr />
            <% if(linkURL===true){%>
            <a href="#" class="side-nav-link"> Link 1</a>
            <hr />
            <a href="#" class="side-nav-link"> Link 2</a>
            <hr />
<%}%>
          </div>
        </div>

        <div class="dropdown1">
          <button class="dropbtn">
            Nuron_Guest
            <i class="fa fa-angle-up" aria-hidden="true"></i>
          </button>
          <div class="dropdown-content">
            <a href="/logout"
              >Logout <i class="fa fa-sign-out ml-1" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>

         