<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuron</title>
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Include Google Charts library -->
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/test1.css" />
    <!-- intro js -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/intro.js@4.2.2/minified/introjs.min.css"
    />
    <script src="https://unpkg.com/intro.js@4.2.2/minified/intro.min.js"></script>
  </head>

  <body>
    <div class="charts-main-div">
      <div class="nav-bar">
        <div class="left-nav-container">
          <div class="nuron-logo-div">
            <img
              src="/images/nuron white logo.png"
              alt="Nuron"
              class="nuron-logo"
            />
          </div>
          <ul>
            <!-- <li class="list active" id="l-1">
              <b></b>
              <b></b>
              <a href="#">Introduction</a>
            </li> -->
            <li class="list <%= nuron ? 'active' : '' %>" id="l-2">
              <b></b>
              <b></b>
              <a href="/dashboard/nuron">Nuron</a>
            </li>
            <li class="list <%= other ? 'active' : '' %>"  id="l-3">
              <b></b>
              <b></b>
              <a href="/dashboard/others"><%-isp%></a>
            </li>
            <li class="list" id="l-4">
              <b></b>
              <b></b>
              <a href="#">Nuron vs Others</a>
            </li>
            <!-- <li class="list" id="l-5">
              <b></b>
              <b></b>
              <a href="#">Link 1</a>
            </li>
            <li class="list" id="l-6">
              <b></b>
              <b></b>
              <a href="#">Link 2</a>
            </li> -->
          </ul>

          <div class="dropdown1">
            <button class="dropbtn">
              Nuron_Guest
              <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>
            <div class="dropdown-content">
              <a href="/logout"
                >Logout <i class="fa fa-sign-out ml-1" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
      </div>