<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nethawk - Result dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css" />
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/images/nuron-fevicon.png" />
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- bootstrap cdn -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
 
     

    <style>
      iframe {
          min-height: 100vh;
          height: 100%;
          width: 100%;
          border: none;
      }
      
  </style>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/@superset-ui/embedded-sdk"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>

    <!-- Intro js -->
    <link rel="stylesheet" href="https://unpkg.com/intro.js@4.2.2/minified/introjs.min.css">
    <script src="https://unpkg.com/intro.js@4.2.2/minified/intro.min.js"></script>
    <!-- bootstrap cdn -->
  </head>
  <body  method="post" action="/dashboard">

    <div class="result-main-container" id="dashboard-id">
      <div class="left-container">
        <img
          src="/images/nuron white logo.png"
          alt="nuron-logo"
          class="nuron-logo-styling"
        />
        <div class="dropdown1">
          <button class="dropbtn">
            Nuron_Guest
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </button>
          <div class="dropdown-content">

            <a href="/logout"
              >Logout <i class="fa fa-sign-out ml-1" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="right-container">
        <div id="dashboard-container"></div>

      </div>
    </div>
    <!-- js -->
    

    <script>
      // Token for authentication
      let token =` <%= token%>`;

      // Embed the Superset dashboard
      supersetEmbeddedSdk.embedDashboard({
          id: "6bf0ea4c-ec1a-4e23-b946-22f927ef8e6e",  // Given by the Superset embedding UI
          supersetDomain: "http://localhost:8088", // Include the scheme (http) here
          mountPoint: document.getElementById("dashboard-container"), // HTML element in which the iframe should render
          fetchGuestToken: () => token,
          dashboardUiConfig: {
              hideTitle: true,
              hideChartControls: true,
              filters: {
                  visible: false,
                  expanded: false,
              }
          }
      })
      .then(res => console.log("Dashboard embedded successfully"))
      .catch(error => console.error("Error embedding dashboard:", error));
  </script>
  <script src="/js/intro.js"></script>
  </body>
</html>
