<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>test</title>
    <link rel="stylesheet" href="/css/test.css">
    <link rel="stylesheet" href="https://unpkg.com/intro.js@4.2.2/minified/introjs.min.css">
    <script src="https://unpkg.com/intro.js@4.2.2/minified/intro.min.js"></script>
</head>
<body>
    <div class="main_container">
        <div class="pannels">
            <img src="/images/nethawk_img/uplode_jitter.png" alt="Upload_jitter" id="Upload_jitter" >
            <img src="/images/nethawk_img/uplode_latency.png" alt="uplode_latency" id="uplode_latency" >
            <img src="/images/nethawk_img/download_itter.png" alt="download_itter"  id="download_itter">
            <img src="/images/nethawk_img/download_latency.png" alt="download_latency" id="download_latency" >
            <img src="/images/nethawk_img/packet_loss.png" alt="packet_loss" id="packet_loss">
        </div>
        <div class="download">
            <img src="/images/nethawk_img/download_80.png" alt="download_80" id="download_80" >
            <img src="/images/nethawk_img/Avg_download_speed.png" alt="Avg_download_speed" id="Avg_download_speed" >
            <img src="/images/nethawk_img/peak_download_speed.png" alt="peak_download_speed" id="peak_download_speed">
        </div>
        <div class="upload">
            <img src="/images/nethawk_img/upload_80.png" alt="upload_80.png" id="upload_80">
            <img src="/images/nethawk_img/avg_upload.png" alt="avg_upload" id="avg_upload">
            <img src="/images/nethawk_img/peak_upload.png" alt="peak_upload" id="peak_upload">
        </div>
        <div class="browser">
            <img src="/images/nethawk_img/stream_quality.png" alt="stream_quality" id="stream_quality" >
            <img src="/images/nethawk_img/browser.png" alt="browsers" id="browsers" >
            <img src="/images/nethawk_img/loding_time.png" alt="loding_time" id="loding_time">
        </div>
    </div>
    <script src="/js/test.js"></script>
</body>
</html>