@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: roboto;
}
.info-main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.left-container {
  width: 250px;
  background-color: #fff;
  background: linear-gradient(#e4118c, #52286d);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  /* box-shadow: inset 0 4px 4px #000; */
  box-shadow: inset -1px 0 20px #000;
}
/* .blob1 {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(#e4118c, #52286d);
  box-shadow: 0 -7px 10px rgba(45, 43, 43, 0.3),
    0 5px 10px rgba(45, 43, 43, 0.3);
  position: absolute;
  top: -5%;
  left: -35%;
  z-index: 100;
}
.blob2 {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background: linear-gradient(#e4118c, #52286d);
  box-shadow: 0 -7px 10px rgba(45, 43, 43, 0.3),
    0 5px 10px rgba(45, 43, 43, 0.3);
  position: absolute;
  top: -12%;
  left: 10%;
  z-index: 10;
}
.blob3 {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background: linear-gradient(#e4118c, #52286d);
  box-shadow: 0 -7px 10px rgba(45, 43, 43, 0.3),
    0 5px 10px rgba(45, 43, 43, 0.3);
  position: absolute;
  top: -3%;
  right: -40%;
  z-index: 1;
} */
/* .blob4 {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background: linear-gradient(#52286d, #e4118c);

  box-shadow: 0 -7px 10px rgba(45, 43, 43, 0.3),
    0 5px 10px rgba(45, 43, 43, 0.3);
  position: absolute;
  bottom: -4%;
  left: -30%;
}
.blob5 {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background: linear-gradient(#e4118c, #52286d);

  box-shadow: 0 -7px 10px rgba(45, 43, 43, 0.3),
    0 5px 10px rgba(45, 43, 43, 0.3);
  position: absolute;
  bottom: -13%;
  left: -5%;
} */

.side-nav-links-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.side-nav-link {
  color: #e4118c;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 60px;
  line-height: 30px;
  font-size: 18px;
}
.side-nav-link:hover {
  color: #be3f89;
  color: #d5cccc;
  width: 100%;
  cursor: pointer;
  /* border-left: 3px solid #be3f89; */
  text-decoration: none;
}
.active-link {
  color: #52286d;

  border-left: 3px solid #52286d;
  color: #000;

  border-left: 3px solid #000;
}
hr {
  height: 1px;
  background-color: #bdb5b5;
  opacity: 0.5;
  width: 150%;
  margin-bottom: 15px;
}

.nuron-logo {
  width: 210px;
  margin-left: -5px;
  position: absolute;
  top: 0;
  z-index: 10000;
}
.links-container {
  position: absolute;
  top: 30%;
}
.dropbtn {
  color: #e4118c;
  color: #f1f1f1;

  font-weight: 600;
  padding: 10px;
  font-size: 16px;
  border: none;
  background: transparent;
  border-radius: 5px;
  margin-bottom: 20px;

  z-index: 100000;
  margin-left: 30px;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  z-index: 1;
  border-radius: 5px;

  left: 68%;
  bottom: 90%;

  z-index: 1000;
  font-size: 15px;
}

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  text-decoration: none;
  color: #e62428;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.dropdown1:hover .dropdown-content {
  display: block;
}
.right-container {
  width: 100%;
  min-height: 100vh;
}

.main-container {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}
.pannels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
.pannels #Upload_jitter,
#uplode_latency,
#download_itter,
#download_latency,
#packet_loss {
  width: 18%;
  height: 100px;
  border-radius: 6px;
  box-shadow: 4px 4px 4px #bfbfbf, -4px 0 4px #bfbfbf;
}
.pannels-div {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  width: 240px;
  height: 270px;
  box-shadow: 4px 4px 4px #bfbfbf, -4px 0 4px #bfbfbf;
  top: 18%;
  left: 16%;
  padding-left: 20px;
  padding-right: 20px;
}

#Upload_jitter:hover + .Upload-jitter {
  display: block;
}
.pointerr {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  rotate: 45deg;
  left: 4%;
  top: -1%;
}

.uplode-latency {
  left: 33%;
}
#uplode_latency:hover + .uplode-latency {
  display: block;
}

.download-itter {
  left: 49%;
}
#download_itter:hover + .download-itter {
  display: block;
}
.d-latency {
  left: 66%;
  height: 300px;
}
#download_latency:hover + .d-latency {
  display: block;
}
.packet-loss {
  left: 83%;
  height: 280px;
}
#packet_loss:hover + .packet-loss {
  display: block;
}

.download {
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#Avg_download_speed,
#peak_download_speed,
#download_80 {
  width: 30%;
  height: 160px;
  padding: 5px;
}
.downloads-div {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  top: 45%;
  height: 210px;
  width: 360px;
  box-shadow: 4px 4px 4px #bfbfbf, -4px 0 4px #bfbfbf;
  padding-left: 20px;
  padding-right: 20px;
}
#download_80:hover,
#Avg_download_speed:hover,
#peak_download_speed:hover {
  box-shadow: 4px 4px 4px #bfbfbf, -4px 0 4px #bfbfbf;
  border-radius: 15px;
}
.download-80 {
  left: 18.5%;
}
#download_80:hover + .download-80 {
  display: block;
}
.Avg-download-speed {
  left: 45%;
}
#Avg_download_speed:hover + .Avg-download-speed {
  display: block;
}
.peak-download-speed {
  left: 72%;
}
#peak_download_speed:hover + .peak-download-speed {
  display: block;
}

.upload {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 20px;
}
#upload_80,
#avg_upload,
#peak_upload {
  width: 30%;
  height: 160px;
  padding: 5px;
}
#upload_80:hover,
#avg_upload:hover,
#peak_upload:hover {
  box-shadow: 4px 4px 4px #bfbfbf, -4px 0 4px #bfbfbf;
  border-radius: 15px;
}
.uploads-div {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  top: 70.5%;
  height: 200px;
  width: 360px;
  box-shadow: 4px 4px 4px #bfbfbf, -4px 0 4px #bfbfbf;
  padding-left: 20px;
  padding-right: 20px;
}
.upload-80 {
  left: 18.5%;
}
#upload_80:hover + .upload-80 {
  display: block;
}
.avg-upload {
  left: 45%;
  height: 205px;
}
#avg_upload:hover + .avg-upload {
  display: block;
}
.peak-upload {
  left: 72%;
  height: 205px;
}
#peak_upload:hover + .peak-upload {
  display: block;
}
.browser {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 20px;
}

#stream_quality,
#browsers,
#loding_time {
  width: 30%;
  height: 190px;
  padding: 5px;
}
#stream_quality:hover,
#browsers:hover,
#loding_time:hover {
  box-shadow: 4px 4px 4px #bfbfbf, -4px 0 4px #bfbfbf;
  border-radius: 15px;
}
.browser-div {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  bottom: 29%;
  height: 230px;
  width: 360px;
  box-shadow: 4px 4px 4px #bfbfbf, -4px 0 4px #bfbfbf;
  padding-left: 20px;
  padding-right: 20px;
}
.pointerr1 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  rotate: 45deg;
  left: 4%;
  bottom: -1%;
}
.stream-quality {
  left: 18.5%;
}
#stream_quality:hover + .stream-quality {
  display: block;
}
.browserss {
  left: 45%;
}
#browsers:hover + .browserss {
  display: block;
}
.loding-time {
  left: 72%;
  height: 190px;
}
#loding_time:hover + .loding-time {
  display: block;
}

.customTooltip * {
  color: #4a4a4a;
  font-size: 18px;
}

.customTooltip .introjs-tooltip-title {
  color: #e4118c;
}

.customTooltip .introjs-tooltip-header {
  background-color: azure;
}

.customTooltip .introjs-tooltiptext {
  font-size: 15px;
  line-height: 20px;
}
/* top nav css */
.top-navbar {
  /* background-color: #52286d; */
  background-color: #1f1d1d;
  box-shadow: 3px 3px 3px #1f1d1d, -3px 0 3px #1f1d1d;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
.nuron-logo2 {
  width: 200px;
  margin-top: -13px;
  cursor: pointer;
}
.links-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 48%;
  font-size: 18px;
}
.side-nav-linkk {
  color: #fff;
  text-decoration: none;
  padding: 6px 10px;
}

.side-nav-linkk:hover {
  cursor: pointer;
  background-color: transparent;
  box-shadow: 3px 3px 3px #000, -3px 0 3px #000;
  border-radius: 12px;
  color: #bfbfbf;
}
.side-nav-linkk:active {
  box-shadow: inset 3px 3px 3px #000, inset -3px 0 3px #000;
}
.activeTab {
  box-shadow: 3px 3px 3px #000, -3px 0 3px #000;

  border-radius: 12px;
}
.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  z-index: 1;
  border-radius: 5px;
  top: 105%;
  right: 10%;
  z-index: 1000;
}

.dropdown-content1 a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}
.dropdown-content1 a:hover {
  text-decoration: none;
  color: #e62428;
}

.dropdown-content1 button:hover {
  background-color: #ddd;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}
.dropbtnn {
  color: #f1f1f1;
  padding: 10px;
  font-size: 18px;
  border: none;
  background: transparent;
  border-radius: 5px;
}
