* {
  box-sizing: border-box;
}
.main_container {
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}
.pannels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
img {
  mix-blend-mode: multiply;
}
.download {
  margin: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.upload {
  margin: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.browser {
  margin: 3%;
  display: flex;

  justify-content: space-between;
}

.customTooltip * {
  color: #4a4a4a;
  font-size: 18px;
}

.customTooltip .introjs-tooltip-title {
  color: #0a41c9;
}

.customTooltip .introjs-tooltip-header {
  background-color: azure;
}

.customTooltip .introjs-tooltiptext {
  margin: 1rem;
}
